@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"].</h2>

<p>Portal Buddy provides a way to extend the Dynamics 365 portal with custom code in a secure manner. 
    This is accomplished by abstracting the Dynamics 365 portal authentication to a Single Sign On 
    or Secure Token Service so that the user identity can be shared across applications. This template 
    implements the now natively Dynamics 365 portal supported Azure AD B2C. Azure AD B2C has also been 
    announced to replace all authentication for the Dynamics 365 portal in the near future.</p>

<p>Utilizing JavaScript front-end frameworks like angular.js, react.js, and vue.js you can create 
    seamless user experiences with this template that utilize custom server side code with the .NET 
    Framework and Dynamics 365 SDK.</p>
