@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"].</h2>

<p>Managed by: Portal Buddy Team</p>

<address>
    <strong>Dev:</strong> <a href="mailto:dev@adoxio.com">dev@adoxio.com</a>
</address>
