@{
    ViewData["Title"] = "Home Page";
}

<div class="pb-jumbo text-center">
    @*<img src="~/images/pb-icon.png" alt="Dynamics Portal Companion App" style="width:64px;height:64px;" />*@
    <h1>Dynamics Portal Companion App</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Overview:</h3>
        <p>
            Dynamics Portal Companion App is a starter template for a companion web app for Dynamics 365 portals. This
            template includes an authenticated experience persisting the portal user context across requests
            between the Dynamics 365 portal and the Dynamics Portal Companion App web app using Azure AD B2C.
        </p>

        <p>
            Dynamics Portal Companion App is built on ASP.NET Core 1.1 with the .NET Framework 4.6.1. It includes the
            Dynamics 365 SDK and the Dynamics 365 Xrm Tooling utlizing the CrmServiceClient implemented
            for ASP.NET Core as CrmCoreServiceClient.
        </p>
    </div>
</div>
